<%- include('../partials/header') %>

<h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
  <label>Airline:
    <select name="airline">
      <option value="southwest">Southwest</option>
      <option value="american">American</option>
      <option value="united">United</option>
      <option value="spirit">Spirit</option>
      <option value="atlair">ATL Air</option>
    </select>
  </label><br>
  <label>Airport:
    <select name="airport">
      <option value="bwi">BWI</option>
      <option value="lax">LAX</option>
      <option value="lgb">LGB</option>
      <option value="lgb">LGB</option>
      <option value="lgb">LGB</option>
    </select>
  </label><br>
  <label>Flight Number
    <select name="flightNumber">
      <option value="1017">1017</option>
      <option value="1111">1111</option>
      <option value="444">444</option>
      <option value="410">410</option>
      <option value="562">562</option>
    </select>
  </label><br>
  <label>Departing
    <input type="date" name="cast">
  </label><br>
  <!-- <label>Now Departing:
    <input type="checkbox" name="nowShowing" checked>
  </label><br> -->
  <button type="submit">Add Flight</button>
</form>


<%- include('../partials/footer') %>